{% extends "network/layout.html" %}

{% block body %}

<div class="container">

	<div class="row">
		<div class="col-12">
			<h3>Register</h3>
		</div>
	</div>

	{% include "network/messages.html" %}

	<div class="row">
		<div class="col-12">
			<form class="register-login-form" action="{% url 'register' %}" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" autofocus type="text" name="username" placeholder="Username">
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" type="email" name="email" placeholder="Email Address">
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" type="password" name="password" placeholder="Password">
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-12">
							<button class="primary-button" type="submit">Register</button>
						</div>
					</div>
	
					<div class="message">
						<span>Already have an account? <a href="{% url 'login' %}">Log In here.</a></span>
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}