h3 {
  color: #ff6701;
}

.page-content {
  min-height: 735px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.box, .register-login-form, .wrap-post, .wrap-new-post {
  display: flex;
  border: 1px solid #fcecdd;
  border-radius: 0.3rem;
  margin: 5px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 1px 3px 10px -4px #f6e5e9;
}

header {
  background-color: #fcecdd;
  border-bottom: 2px solid #ffc288;
  margin-bottom: 1rem;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
}
header .wrap-header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
header .wrap-header .navbar-brand {
  color: #ff6701;
  font-weight: 600;
  font-size: 2.3rem;
}
header .wrap-header .navbar-brand .logo {
  width: 75px;
  margin-right: 1rem;
}
header .wrap-nav .wrap-menu ul a {
  margin-left: 0.5rem;
  border: 1px solid #ff6701;
  background-color: #fffdfb;
  color: #ff6701;
  border-radius: 0.3rem;
}

.wrap-new-post {
  display: block;
}
.wrap-new-post .form-group {
  margin: 0;
}
.wrap-new-post .form-group textarea {
  margin-right: 1rem;
  border-radius: 0.3rem !important;
}
.wrap-new-post .form-group button {
  margin-top: 1rem;
}

.wrap-post {
  flex-direction: column;
}
.wrap-post .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.wrap-post .post-info .post-user-date .poster {
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.wrap-post .post-info .post-user-date .poster a {
  color: #774777;
}
.wrap-post .post-info .post-user-date .datetime {
  color: #ccc;
  font-size: 0.8rem;
}
.wrap-post .post-info .post-user-actions {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrap-post .post-info .post-user-actions #edit {
  padding: 0.5rem;
  color: #ff6701;
}
.wrap-post .likes {
  color: #b309b3;
  margin-top: 1rem;
}
.wrap-post .likes .like-button {
  background-color: #bf98bf !important;
  border: 1px solid #bf98bf !important;
}

.wrap-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap-user-profile .user-info span {
  color: #774777;
  border: 1px solid #ff6701;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
}
.wrap-user-profile form {
  margin-left: 1rem;
}

.register-login-form {
  flex-direction: column;
  justify-content: space-between;
}
.register-login-form .form-group {
  margin-bottom: 20px;
}
.register-login-form .message {
  margin-top: 20px;
  color: #a0a0a0;
}
.register-login-form .message a {
  text-decoration: none;
  color: #5a5858;
}

.form-group {
  flex-direction: column;
  margin-bottom: 0px;
}
.form-group input {
  border: 1px solid #ec8946;
  background-color: #fffdfb;
  border-radius: 0.3rem;
}
.form-group input:focus {
  border-color: #eac5a3;
  box-shadow: 0 0 0 0.2rem #fcecdd;
}
.form-group textarea {
  border: 1px solid #eac5a3;
}
.form-group textarea:focus {
  border-color: #eac5a3;
  box-shadow: 0 0 0 0.2rem #fcecdd;
}

.edit-form {
  margin: 1rem 0;
}
.edit-form .primary-button, .edit-form .unfollow-button, .edit-form .wrap-post .likes .like-button, .wrap-post .likes .edit-form .like-button {
  margin-top: 1rem;
}

.wrap-pagination .page-link {
  margin-top: 1rem;
  color: #ff6701;
  border: 1px solid #fcecdd;
}
.wrap-pagination .page-link:hover {
  text-decoration: none;
  background-color: #fcecdd;
}
.wrap-pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem #ff670175;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #774777;
  background-color: #fcecdd;
  border-top: 2px solid #ffc288;
  margin-top: 1rem;
  padding: 0.7rem;
  height: 60px;
  flex-shrink: 0;
}
footer .social-media a {
  margin-left: 0.7rem;
  color: #774777;
}

.primary-button, .unfollow-button, .wrap-post .likes .like-button {
  background-color: #774777;
  border: 1px solid #774777;
  border-radius: 0.3rem;
  color: white;
  padding: 5px 10px;
}

.unfollow-button {
  background-color: #ca3737;
  border: 1px solid #ca3737;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eaeaea;
  height: 1px;
}

/*# sourceMappingURL=styles.css.map */
